<!doctype html>
<html lang="en" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./static/styles/css/index.css">
  <!-- CSS reset -->
  <!-- <link rel="stylesheet" href="css/style.css"> Resource style -->
  <!-- <script src="js/modernizr.js"></script>  Modernizr -->
  <title>About | CodyHouse</title>
</head>

<body class="cd-about">
  <div id="cy" style="height: 500px;"></div>
  <!-- <script src="js/jquery-2.1.1.js"></script> -->
  <script src="./static/scripts/js/app.js"></script>
  <script src="./static/scripts/js/net.js"></script>
  <!-- Resource jQuery -->
</body>

</html>
