// Colors
$white:                    #fff !default;
$gray:                     #929292 !default;
$grayLighter:              #CACACA !default;
$grayDarker:               #626262 !default;
$black:                    #000 !default;
$darkLighter:              #303030 !default;
$bodyBackground:           #f8f8f8 !default;
// $bodyColor:                #5a5a5a !default;

//font-size
$normal:                   1.4rem !default;
$little:                   1.2rem !default;
$large:                    1.6rem !default;

// colors

$color-1: #4089a6; // Steel Blue
$color-2: #283040; // Ebony Clay
$color-3: #ffffff; // White

// fonts

$primary-font: 'Open Sans', sans-serif;;
